@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 0.8), 0.5);
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// About
.bio,
.experience,
.skills,
.education {
  h1 {
    color: $secondary-color;
  }
}
.about-info,
.ex {
  display: grid;
  grid-template-areas: "img bio bio";
  grid-template-columns: repeat(3, 1fr);
}
.bio-image {
  grid-area: img;
  justify-self: center;
  width: 200px;
  height: 200px;
  border: solid 3px $secondary-color;
}
.bio {
  grid-area: bio;
  justify-self: center;
  margin: auto;
}

.edu {
  display: grid;
  grid-template-areas: "edu1 edu2";
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem;
  column-gap: 10px;
}
.ex {
  display: grid;
  grid-template-areas: "ex1 ex2 ex3";
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem;
  column-gap: 10px;
}
.ex1 {
  grid-area: ex1;
}
.ex2 {
  grid-area: ex2;
}
.ex3 {
  grid-area: ex3;
}
.ex1,
.ex2,
.ex3,
.master,
.bachelor {
  justify-self: center;
  background-color: lighten($primary-color, 5);
  padding: 2rem;
  border-bottom: solid 3px $secondary-color;
  width: 100%;
}
.ticket {
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative !important;
  background-color: $secondary-color;
  float: left;
  padding: 7px 5px;
  margin: 0 5px 5px 0;
}
.about {
  display: grid;
}
.bio-image {
  border-radius: 50%;
  margin: 1rem 1rem;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
  text-align: left;
}

//Projects
.project-info {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
}
img {
  width: 100%;
  height: auto;
  border: solid 3px white;
  &:hover {
    opacity: 0.5;
    border-color: $secondary-color;
    @include easeOut;
  }
}
//Button
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: black;
  }
}
.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: white;
}
//Contact
.contact-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  .btn-dark {
    margin: 1rem;
    padding: 2rem;
    width: 50%;
    @include easeOut;
  }
}

@import "mobile";
